<div class="main-wrapper">
    <app-patient-header></app-patient-header>
    <app-patient-sidebar></app-patient-sidebar>
    <app-notifiacation-alert></app-notifiacation-alert>

    <div class="page-wrapper">
        <div class="content">

            <div class="good-morning-blk">
                <div class="row">
                    <div class="col-md-6">
                        <div class="morning-user">
                            <h2> {{ 'Doctor_dashboard.welcome' | translate }} <span>

                                    <p *ngIf="currentuser.gener=='male' ">Mr.</p>
                                    <p *ngIf="currentuser.gener=='female' ">Mrs.</p> {{currentuser.lastname }}
                                    {{currentuser.lastname}} {{currentuser.firstname}}
                                </span></h2>
                        </div>
                    </div>
                    <div class="col-md-6 position-blk">
                        <div class="morning-img">
                            <img src="assets/img/morning-img-02.png" alt>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body card-buttons">
                            <div class="ratio ratio-4x3">
                                <iframe src="https://www.youtube.com/embed/kOTudNaOkmI?autoplay=1" allow="autoplay"
                                    width="1000" height="315" frameborder="0" allowfullscreen>
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>