<div class="settings-menu-links">
    <ul class="nav nav-tabs menu-tabs">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/doctor/settings">General Settings</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/doctor/settings/social-media">Social Links</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/doctor/settings/my-location">My Location</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/doctor/settings/notifications">Notifications</a>
        </li>
    </ul>
</div>    