.comments-container {
    max-height: auto; /* Adjust the height as necessary */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ddd; /* Optional: add a border */
    padding: 10px; /* Optional: add some padding */
}
.no-appointment-row {
    background-color: #f9f9f9; /* Light background color to make it stand out */
    height: 400px; /* Adjust height to center content vertically */
}

.no-appointment-text {
    text-align: center; /* Center text horizontally */
    vertical-align: middle; /* Center text vertically */
    font-weight: bold; /* Make text bold */
    color: #888; /* Light gray color for text */
    padding: 20px; /* Add padding for better spacing */
    font-size: 16px; /* Adjust font size */
}
