.tip {
    color: #FF5733; /* A pleasant red color */
    background-color: #F9F9F9; /* Light background for contrast */
    padding: 10px; /* Add some padding for better spacing */
    border-left: 4px solid #FF5733; /* Left border for emphasis */
    border-radius: 4px; /* Slightly rounded corners */
    font-size: 14px; /* Font size for readability */
    margin-top: 10px; /* Space above the tip */
    font-weight: 500; /* Slightly bolder text */
}

.flag {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    background: no-repeat center/100% 100%;
    vertical-align: bottom;
    font-style: normal;
}
.language-selector {
    display: flex;
    align-items: center;
}

.language-selector .flag {
    width: 50px;
    height: 40px;
    margin-left: 8px; /* Space between select and flag */
}

.form-select {
    width: auto; /* Adjust width to fit content */
    margin-right: 8px; /* Space between select and flag */
}
