<div class="main-wrapper">
    <app-patient-header></app-patient-header>
    <app-patient-sidebar></app-patient-sidebar>
    <div class="page-wrapper">
        <div class="content">
            <app-header-patient-settings></app-header-patient-settings>
            <app-notifiacation-alert></app-notifiacation-alert>

            <div class="row">
                <div class="col-md-6">

                    <div class="card">
                        <div class="card-header">
                            <div class="card-header">
                                <h5 class="card-title">{{'patient_settings.title' | translate}}</h5>
                            </div>
                            <div class="card-body pt-0">
                                <form [formGroup]="upadate" #f="ngForm" (ngSubmit)="updateinformations(f)">
                                    <div class="row">
                                        <div class="col-12 col-md-12">
                                            <div class="input-block mb-3">
                                                <label for="exampleFormControlSelect1"
                                                    class="form-label">{{'patient_settings.email' | translate}}</label>
                                                <input
                                                readonly
                                        style="cursor: not-allowed; background-color: #f0f0f0; color: #6c757d;"
                                                type="text" [(ngModel)]="currentUser.email" name="email"
                                                    formControlName="email" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="input-block mb-3">
                                                <label for="exampleFormControlSelect1"
                                                    class="form-label">{{'patient_settings.lastname' | translate}}</label>
                                                <input type="text" [(ngModel)]="currentUser.lastname" name="lastname"
                                                    formControlName="lastname" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="input-block mb-3">
                                                <label for="exampleFormControlSelect1"
                                                    class="form-label">{{'patient_settings.firstname' | translate}}</label>
                                                <input type="text" [(ngModel)]="currentUser.firstname" name="firstname"
                                                    formControlName="firstname" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="input-block mb-3">
                                                <label for="exampleFormControlSelect1" class="form-label">
                                                    {{'patient_settings.CivilStatus' | translate}}</label>
                                                <select [(ngModel)]="currentUser.civil_status" name="civil_status"
                                                    formControlName="civil_status" class="form-control"
                                                    id="exampleFormControlSelect1">
                                                    <option hidden value="" selected>{{'Doctor_information.title' |translate}}</option>
                                                    <option selected value="Mr">{{'Doctor_information.civil_status.mr' |translate}}</option>
                                                    <option value="Mrs">{{'Doctor_information.civil_status.mrs' |translate}}</option>
                                                    <option value="Mme">{{'Doctor_information.civil_status.mme' |translate}}</option>
                                                    <option value="other">{{'Doctor_information.civil_status.other' |translate}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="input-block mb-3">
                                                <label for="exampleFormControlSelect1" class="form-label">
                                                    {{'patient_settings.DateofBirth' | translate}}</label>
                                                <input type="date" [(ngModel)]="currentUser.birthday" name="birthday"
                                                    formControlName="birthday" class="form-control"
                                                    id="exampleFormControlSelect1" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="input-block">
                                                <label for="exampleFormControlSelect1" class="form-label">
                                                    {{'patient_settings.DateofBirth' | translate}}</label>
                                                <select class="form-control" [(ngModel)]="currentUser.location"
                                                    name="location" formControlName="location" id="location">
                                                    <option hidden value="" selected>Select Gouvernement</option>
                                                    <option *ngFor="let item of locations" [value]="item">{{item}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="input-block select-gender">
                                                <label class="gen-label">{{'patient_settings.DateofBirth' | translate}}</label>
                                                <div class="form-check-inline">
                                                    <label class="form-check-label">
                                                        <input formControlName="gender" [(ngModel)]="currentUser.gender"
                                                            [value]="'male'" type="radio" name="gender"
                                                            class="form-check-input" checked>Male
                                                    </label>
                                                </div>
                                                <div class="form-check-inline">
                                                    <label class="form-check-label">
                                                        <input type="radio" [(ngModel)]="currentUser.gender"
                                                            formControlName="gender" [value]="'female'" name="gender"
                                                            class="form-check-input">Female
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div style="text-align: center;">
                                        <button type="submit" class="btn btn-primary px-4"
                                            style="background-color: rgb(38, 8, 158);">{{'patient_settings.button_info' | translate}}</button>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{{'patient_settings.radius_gouv' | translate}}</h5>
                        </div>
                        <div class="card-body pt-0">
                            <form [formGroup]="upadate_radius" #f="ngForm" (ngSubmit)="updateradius(f)">
                                <div class="input-block">
                                    <input readonly
                                        style="cursor: not-allowed; background-color: #f0f0f0; color: #6c757d;"
                                        type="text" class="form-control" id="location"
                                        [value]="currentUser?.location">
                                </div>

                                <div class="settings-form">
                                    <label class="gen-label">{{'patient_settings.rayon' | translate}}</label>
                                    <select [(ngModel)]="currentUser.radius" 
                                        formControlName="radius" class="form-control"
                                        id="exampleFormControlSelect1">
                                        <option value="1">1 Kilométre</option>
                                        <option value="5">5 Kilométre</option>
                                        <option value="10">10 Kilométre</option>
                                        <option value="20">20 Kilométre</option>
                                        <option value="50">50 Kilométre</option>
                                        <option value="100">100 Kilométre</option>

                                    </select>
                                </div>
                                <br>
                                <div #mapContainer style="height: 400px; width: 100%;"></div>
                                <br>
                                <div style="text-align: center;">
                                    <button type="submit" class="btn btn-primary px-4"
                                        style="background-color: rgb(38, 8, 158);">{{'patient_settings.button_map' | translate}}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>