<div class="main-wrapper">
    <app-patient-header></app-patient-header>
    <app-patient-sidebar></app-patient-sidebar>
    <app-notifiacation-alert></app-notifiacation-alert>
    <app-spinner [isLoading]="isLoading"></app-spinner>
    <ng-progress #progressBar></ng-progress>

    <div class="page-wrapper">
        <div class="content">
            <div class="mt-3">
                <button class="btn btn-success" [routerLink]="['/patient', selectedDoctorData?.id, 'select-date']">
                    <i class="fas fa-arrow-left"></i> Go Back
                </button>
            </div>

            <div class="confirmation-wrapper">
                <h1 class="confirmation-title">Appointment Confirmation</h1>

                <div class="doctor-info">
                    <div class="profile-img">
                        <a href="#"><img class="avatar" [src]="selectedDoctorData?.user_image_url"
                                alt="Doctor's image"></a>
                    </div>
                    <h2 class="doctor-name">Dr. {{ selectedDoctorData?.firstname }} {{ selectedDoctorData?.lastname }}
                    </h2>
                    <p class="appointment-date"><strong>Date:</strong> {{ appointmentDay }} {{ appointmentDate }}</p>
                    <p class="appointment-time"><strong>Time:</strong> {{ appointmentTime }}</p>
                </div>

                <div *ngIf="selectedDoctorData.working_on_line" class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="card-title">Online Appointment?</h4>
                    <div class="status-toggle d-flex justify-content-between align-items-center">
                        <input type="checkbox" id="online" class="check" [checked]="online" (change)="isonline($event)">
                        <label for="online" class="checktoggle">checkbox</label>
                    </div>
                </div>
                <br>

                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="card-title">Add Note To Doctor</h4>
                    <div class="status-toggle d-flex justify-content-between align-items-center">
                        <input type="checkbox" id="sms_notifications" class="check" [checked]="note_active"
                            (change)="toggleSmsNotifications($event)">
                        <label for="sms_notifications" class="checktoggle">checkbox</label>
                    </div>
                </div>
                <br>

                <!-- Note field only visible when note_active is true -->
                <div *ngIf="note_active" class="col-12 col-sm-12">
                    <div class="input-block local-forms">
                        <label>Notes <span class="login-danger">*</span></label>
                        <textarea class="form-control" rows="3" [(ngModel)]="note"></textarea>
                    </div>
                </div>

                <div class="confirmation-message">
                    <p>Thank you for choosing our services. Please confirm your appointment with Dr. {{
                        selectedDoctorData?.firstname }} {{ selectedDoctorData?.lastname }}.</p>
                </div>

                <div class="confirmation-buttons">
                    <button class="btn-confirm" id="registerButton" (click)="confirmAppointment()">Confirm
                        Appointment</button>
                    <button class="btn-cancel" (click)="cancelAppointment()">Cancel</button>
                </div>

            </div>
        </div>
    </div>
</div>