<div class="main-wrapper">
    <app-header-admin></app-header-admin>
    <app-sidebar-admin></app-sidebar-admin>
    <div class="page-wrapper">
      <div class="content">
        <br>
  
        <div class="good-morning-blk">
          <div class="row">
            <div class="col-md-6">
              <div class="morning-user">
                <h2>Good Morning, <span>Mr {{admindata.firstname}} {{admindata.lastname}}</span></h2>
                <p>
                  You are logged in as
                  <span style="color: #2e37a4;">
                    <b>{{ userType }}</b>
                  </span> Have a nice day at work.
                </p>
              </div>
            </div>
            <div class="col-md-6 position-blk">
              <div class="morning-img">
                <img src="../../../assets/img/morning-img-01.png" alt />
              </div>
            </div>
          </div>
        </div>
  
        <!-- Dropdown to dynamically switch chart type -->
        <div class="chart-options">
          <label for="chart-type">Select Chart Type: </label>
          <select id="chart-type" class="form-control form-small select" [(ngModel)]="chartType">
            <option value="doughnut">Doughnut</option>
            <option value="bar">Bar Chart</option>
            <option value="pie">Pie Chart</option>
          </select>
        </div>
  
        <!-- Centered canvas for the chart -->
        <div class="canvas-container" *ngIf="chartReady">
          <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels"
            [colors]="chartColors" [options]="chartOptions" [legend]="true" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar-overlay" data-reff></div>
  