<footer class="main-footer">
    <div class="footer-top">
        <div class="pattern-layer">
            <div class="pattern-1" style="background-image: url(../../assets/images1/shape/shape-30.png);"></div>
            <div class="pattern-2" style="background-image: url(../../assets/images1/shape/shape-31.png);"></div>
        </div>
        <div class="auto-container">
            <div class="widget-section">
                <div class="row clearfix">

                    <div class="col-lg-2 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget links-widget">
                            <div class="widget-title">
                                <h3>About</h3>
                            </div>
                            <div class="widget-content">
                                <ul class="links clearfix">
                                    <li><a>About Us</a></li>
                                    <li><a>Listing</a></li>
                                    <li><a>How It Works</a></li>
                                    <li><a>Our Services</a></li>
                                    <li><a>Our Blog</a></li>
                                    <li><a>Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget links-widget">
                            <div class="widget-title">
                                <h3>Useful Links</h3>
                            </div>
                            <div class="widget-content">
                                <ul class="links clearfix">
                                    <li><a>Specialist</a></li>
                                    <li><a>Clinic</a></li>
                                    <li><a>Hospital</a></li>
                                    <li><a>Download App</a></li>
                                    <li><a>Join as a Doctor</a></li>
                                    <li><a>Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget contact-widget">
                            <div class="widget-title">
                                <h3>Contacts</h3>
                            </div>
                            <div class="widget-content">
                                <ul class="info-list clearfix">
                                    <li><i class="fas fa-map-marker-alt"></i>
                                        Kalla Sghira Souuse, Tunisia
                                    </li>
                                    <li><i class="fas fa-microphone"></i>
                                        <a href="tel:23055873407">+216-50-122-449</a>
                                    </li>
                                    <li><i class="fas fa-envelope"></i>
                                        <a href="mailto:superadmin@dermapro.com">superadmin@dermapro.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="inner-box clearfix">
                <div class="copyright pull-left">
                    <p><a>DermaPro</a> &copy; 2025 All Right Reserved</p>
                </div>
                <ul class="footer-nav pull-right clearfix">
                    <li><a>Terms of Service</a></li>
                    <li><a>Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>