<ul class="nav user-menu float-end">
    <li class="nav-item dropdown d-none d-md-block">
        <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown"><img
                src="assets/img/icons/note-icon-01.svg" alt><span class="pulse"></span> </a>
        <div class="dropdown-menu notifications">
            <div class="topnav-dropdown-header">
                <span>Notifications</span>
            </div>
            <div class="drop-scroll">
                <ul *ngIf="!loading && notifications.length > 0" class="notification-list">
                    <div *ngIf="loading">Loading notifications...</div>
                    <li   *ngFor="let notification of notifications" class="notification-message">
                        <a >
                            <div class="media">
                                <span class="avatar">
                                    <img alt="John Doe" src="assets/img/user.jpg" class="img-fluid">
                                </span>
                                <div class="media-body">
                                    <p class="noti-details"><span class="noti-title">John Doe</span> added
                                        new task <span class="noti-title">{{ notification.message_text }}</span>
                                    </p>
                                    <p class="noti-time"><span class="notification-time">4 mins ago</span>
                                    </p>
                                    <!-- <button (click)="markAsRead(notification.id)">Mark as Read</button> -->
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="topnav-dropdown-footer">
                <a href="activities.html">View all Notifications</a>
            </div>
        </div>
    </li>
</ul>