<!-- header-lower -->
<div class="header-lower">
    <div class="auto-container">
        <div class="outer-box">
            <div class="logo-box">
                <div class="pattern" style="background-image: url(../../assets/images1/shape/shape-1.png);">
                </div>
                <div class="bg-color"></div>
                <figure class="logo"><a><img src="../../assets/images1/logo_with_beta.png" alt=""></a>
                </figure>
            </div>
            <div class="menu-area">
                <div class="mobile-nav-toggler">
                    <i class="icon-bar"></i>
                    <i class="icon-bar"></i>
                    <i class="icon-bar"></i>
                </div>

            </div>
            <div class="btn-box">
                <a *ngIf="!currentUser" routerLink="/login" class="theme-btn-one">
                    <i class="icon-image"></i>Login / Sign Up
                </a>
                <a *ngIf="currentUser" (click)="goToDashboard()" class="theme-btn-one">
                    <i class="icon-image"></i>Go to Dashboard
                </a>
            </div>
        </div>
    </div>
</div>