<div class="main-wrapper">
    <app-doctor-header></app-doctor-header>
    <app-doctor-sidebar></app-doctor-sidebar>
    <div class="page-wrapper">
        <div class="content">

            <div class="good-morning-blk">
                <div class="row">
                    <div class="col-md-6">
                        <div class="morning-user">
                            <h2>Good Morning, <span>Dr. {{currentuser.lastname}} {{currentuser.firstname}}</span></h2>
                            <p>Have a nice day at work</p>
                        </div>
                    </div>
                    <div class="col-md-6 position-blk">
                        <div class="morning-img">
                            <img src="assets/img/morning-img-02.png" alt>
                        </div>
                    </div>
                </div>
            </div>
            <div class="doctor-list-blk">
                <div class="row mb-4 clearfix">

                    <div class="col-xl-4 col-lg-12 col-md-12 feature-block">
                        <div class="feature-block-two">
                            <div class="inner-box">
                                <div class="pattern">
                                    <div class="pattern-1"
                                        style="background-image: url(../../../assets/images1/shape/shape-83.png);">
                                    </div>
                                    <div class="pattern-2"
                                        style="background-image: url(../../../assets/images1/shape/shape-84.png);">
                                    </div>
                                </div>
                                <div class="icon-box"> <img class="icon-image" src="../../../assets/img/icons/calendar.svg"
                                        alt></div>
                                        <h3>{{DoctorStats?.consultation}}</h3>
                                        <h5>Total Appointments</h5>
                                <p>Scheduled patient appointments today.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-12 col-md-12 feature-block">
                        <div class="feature-block-two">
                            <div class="inner-box">
                                <div class="pattern">
                                    <div class="pattern-1"
                                        style="background-image: url(../../../assets/images1/shape/shape-5.png);">
                                    </div>
                                    <div class="pattern-2"
                                        style="background-image: url(../../../assets/images1/shape/shape-9.png);">
                                    </div>
                                </div>
                                <div class="icon-box"> <img class="icon-image" src="../../../assets/img/icons/scissor.svg"
                                        alt>
                                </div>
                                <h3 *ngIf="currentuser.plan == 'no_plan'">-</h3>
                                <h3 *ngIf="currentuser.plan == 'basic'"> 3 time</h3>

                                <h3 *ngIf="currentuser.plan == 'premium'"> +  <i class="fas fa-solid fa-infinity"></i></h3>
                                <h3 *ngIf="currentuser.plan == 'custom'">{{currentuser.custom_limit}} time</h3>
                                <br>
                                <h5 *ngIf="currentuser.plan == 'no_plan'">You dont have  IA Plan </h5>
                                <h5 *ngIf="currentuser.plan == 'basic'">Your IA Plan is  <u style="color: blue;"><b>Basic</b></u>   </h5>
                                <h5 *ngIf="currentuser.plan == 'premium'"> Your IA Plan is  <u style="color: blue;"><b>Premium</b></u> </h5>
                                <h5 *ngIf="currentuser.plan == 'custom'"> Your IA Plan is <u style="color: blue;"><b>custom</b></u> </h5>
                                <p>Images processed with AI system.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-12 col-md-12 feature-block">
                        <div class="feature-block-two">
                            <div class="inner-box">
                                <div class="pattern">
                                    <div class="pattern-1"
                                        style="background-image: url(../../../assets/images1/shape/shape-7.png);">
                                    </div>
                                    <div class="pattern-2"
                                        style="background-image: url(../../../assets/images1/shape/shape-11.png);">
                                    </div>
                                </div>
                                <div class="icon-box"> <img class="icon-image"
                                        src="../../../assets/img/icons/dep-icon-04.svg" alt></div>
                                <h3>{{DoctorStats?.ia_usage}}</h3>
                                <h5>Disease Count for IA Plan</h5>
                                <p>Procced Image by AI.</p><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-12  col-xl-7">
                    <div class="row">
                        <div class="col-12 col-md-12  col-xl-8">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title d-inline-block">Today Appointments {{this.now |
                                                    date:'dd MMM yyyy'}}</h4> <a
                                        routerLink="/doctor/planning" class="patient-views float-end">Show all</a>
                                </div>
                                <div class="card-body p-0 table-dash">
                                    <div class="table-responsive">
                                        <table class="table mb-0 border-0 custom-table">
                                            <tbody>
                                                <tr *ngFor="let appointment of AppointmentOfTheDay let i = index">
                                                    <td class="table-image appoint-doctor">
                                                        <img width="28" height="28" class="rounded-circle"
                                                            src="{{appointment.patient.user_image_url}}" alt>
                                                        <h2>Mr. {{appointment.patient.firstname}}{{appointment.patient.lastname}} </h2>
                                                    </td>
                                                    <td class="appoint-time text-center">
                                                        <h6>Today at {{ appointment.appointment | date: 'HH:mm' }}

                                                        </h6>
                                                    </td>
                                                    <td *ngIf="show">
                                                        <i style="color: green;" class="fa fa-check" data-bs-toggle="tooltip"
                                                            title="fa fa-check"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-xl-4 d-flex">
                            <div class="card wallet-widget">
                                <div class="circle-bar circle-bar2">
                                    <div class="circle-graph2" data-percent="66">
                                        <b><img src="assets/img/icons/timer.svg" alt></b>
                                    </div>
                                </div>
                                <div class="main-limit">
                                    <p>Next Appointment in</p>
                                    <h4 *ngIf="nextAppointment; else noAppointment">
                                        {{ remainingHours }}h:{{ remainingMinutes }}m
                                    </h4>
                                    <ng-template #noAppointment>
                                        <p>No upcoming appointments</p>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>