<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li>
                    <a  routerLink="/admin/dashboard">
                        <span class="menu-side"><img src="../../../assets/img/icons/menu-icon-01.svg"alt></span>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a  routerLink="/admin/doctors">
                        <span class="menu-side"><img src="../../../assets/img/icons/menu-icon-02.svg"alt></span>
                        <span>Doctors</span>
                    </a>
                </li>
                <li>
                    <a href="chat.html">
                        <span class="menu-side"><img src="../../../assets/img/icons/menu-icon-03.svg"alt></span>
                        <span>Patients</span>
                    </a>
                </li>
                <li>
                    <a href="chat.html">
                        <span class="menu-side"><img src="../../../assets/img/icons/menu-icon-04.svg"alt></span>
                        <span>Appointments</span>
                    </a>
                </li>
                <li>
                    <a href="chat.html"><span class="menu-side"><img src="../../../assets/img/icons/menu-icon-10.svg"
                                alt></span> <span>Forum</span></a>
                </li>
                <li class="submenu">
                    <a href="#"><span class="menu-side"><img src="../../../assets/img/icons/menu-icon-12.svg" alt></span>
                        <span> Email</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="compose.html">Compose Mail</a></li>
                        <li><a href="inbox.html">Inbox</a></li>
                        <li><a href="mail-view.html">Mail View</a></li>
                    </ul>
                </li>
                <li>
                    <a href="chat.html"><span class="menu-side"><img src="../../../assets/img/icons/menu-icon-13.svg"
                                alt></span> <span>Blogs</span></a>
                </li>
                <li>
                    <a href="settings.html"><span class="menu-side"><img src="../../../assets/img/icons/menu-icon-16.svg"
                                alt></span> <span>Settings</span></a>
                </li>
            </ul>
            <div class="logout-btn">
                <a href="login.html"><span class="menu-side"><img src="../../../assets/img/icons/logout.svg" alt></span>
                    <span>Logout</span></a>
            </div>
        </div>
    </div>
</div>