<div class="main-wrapper">
    <app-doctor-header></app-doctor-header>
    <app-doctor-sidebar></app-doctor-sidebar>
    <div class="page-wrapper">
        <div class="content">
            <app-header-settings></app-header-settings>
            <app-notifiacation-alert></app-notifiacation-alert>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <h1 class="card-title"><b> * {{ 'Doctor_settings.language_system' | translate }}</b></h1>
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="card-title">{{ 'Doctor_settings.default_language' | translate }}</h4>
                            <div class="status-toggle d-flex justify-content-between align-items-center">
                                <div class="language-selector d-flex align-items-center">
                                    <select id="language_select" class="form-select me-2"
                                        [(ngModel)]="currentUser.language" (change)="toggleLanguage($event)">
                                        <option value="en">{{'languages.en' | translate}}</option>
                                        <option value="fr">{{'languages.fr' | translate}}</option>
                                        <option value="ar">{{'languages.ar' | translate}}</option>
                                    </select>
                                    <img [src]="currentUser.language === 'fr' ? '../../../assets/icons/fr.png' : '../../../assets/icons/us.png'"
                                        class="flag" alt="Selected Language Flag">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <h1 class="card-title"><b> * {{ 'Doctor_settings.notifications_system.title' | translate }}</b>
                        </h1>
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="card-title">{{ 'Doctor_settings.notifications_system.enable_email' | translate }}
                            </h4>
                            <div class="status-toggle d-flex justify-content-between align-items-center">
                                <input type="checkbox" id="email_notifications" class="check"
                                    [checked]="currentUser.is_emailable" (change)="toggleEmailNotifications($event)">
                                <label for="email_notifications" class="checktoggle">checkbox</label>
                            </div>
                        </div>
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="card-title">{{ 'Doctor_settings.notifications_system.enable_system' | translate
                                }}</h4>
                            <div class="status-toggle d-flex justify-content-between align-items-center">
                                <input type="checkbox" id="system_notifications" class="check"
                                    [checked]="currentUser.is_notifiable" (change)="toggleSystemNotifications($event)">
                                <label for="system_notifications" class="checktoggle">checkbox</label>
                            </div>
                        </div>

                    </div>
                    <div class="card">
                        <h1 class="card-title"><b> * {{ 'Doctor_settings.other_settings.title' | translate }}</b></h1>

                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="card-title">{{ 'Doctor_settings.other_settings.working_saturday' | translate }}
                            </h4>
                            <div class="status-toggle d-flex justify-content-between align-items-center">
                                <input type="checkbox" id="working_saturday" class="check"
                                    [checked]="currentUser.working_saturday" (change)="toggleWorkingSaturday($event)">
                                <label for="working_saturday" class="checktoggle">checkbox</label>
                            </div>
                        </div>
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="card-title">{{ 'Doctor_settings.other_settings.working_online' | translate }}
                            </h4>
                            <div class="status-toggle d-flex justify-content-between align-items-center">
                                <input type="checkbox" id="working_on_line" class="check"
                                    [checked]="currentUser.working_on_line" (change)="toggleWorkingOnLine($event)">
                                <label for="working_on_line" class="checktoggle">checkbox</label>
                            </div>
                        </div>                        
                        <div *ngIf="currentUser.working_on_line"class="form-group">
                            <label for="amount"> * {{ 'Doctor_settings.other_settings.working_online_price' | translate }}</label>
                            <div class="input-group">
                                <input type="text" id="amount" class="form-control" 
                                    [(ngModel)]="currentUser.amount" 
                                    name="amount" 
                                    [disabled]="!currentUser.working_on_line"
                                    placeholder="Enter amount"
                                    (change)="updateReceiverWallet()">
                                <div class="input-group-append">
                                    <span class="input-group-text">{{ 'Doctor_settings.other_settings.tnd' | translate }}</span>
                                </div>
                            </div>
                        </div>
                        
                        <h6 *ngIf="currentUser.working_on_line" class="tip">
                            {{ 'Doctor_settings.other_settings.working_online_note' | translate }}
                        </h6>



                    </div>

                </div>
                <div *ngIf="currentUser.working_on_line" class="col-md-6 p-3 rounded bg-light shadow-sm">
                    <h5 class="text-primary font-weight-bold mb-3">
                        {{ 'Doctor_settings.platform_earnings_calculation.title' | translate }}
                    </h5>
                    <p class="mb-3 text-secondary">
                        {{ 'Doctor_settings.platform_earnings_calculation.description' | translate }}
                    </p>
                    <div class="border rounded p-3 bg-white">
                        <table class="table table-bordered table-striped">
                            <thead class="thead-light">
                                <tr>
                                    <th>{{ 'Doctor_settings.platform_earnings_calculation.table.headers.description' | translate }}                                    </th>
                                    <th class="text-right">{{ 'Doctor_settings.platform_earnings_calculation.table.headers.amount' | translate }} </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><strong>{{ 'Doctor_settings.platform_earnings_calculation.table.rows.total_paid' | translate }}</strong></td>
                                    <td class="text-right">{{ currentUser.amount }}</td>
                                </tr>
                                <tr>
                                    <td><strong>{{ 'Doctor_settings.platform_earnings_calculation.table.rows.platform_fee' | translate }}</strong></td>
                                    <td class="text-right">{{ (currentUser.amount * 0.1) | number : '1.2-2' }}</td>
                                </tr>
                                <tr>
                                    <td><strong>{{ 'Doctor_settings.platform_earnings_calculation.table.rows.doctor_earnings' | translate }}</strong></td>
                                    <td class="text-right">{{ (currentUser.amount * 0.9) | number : '1.2-2' }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="alert alert-info p-2 mt-3">
                            <strong>{{ 'Doctor_settings.platform_earnings_calculation.formule_title' | translate }}  </strong> 
                            <code>{{ 'Doctor_settings.platform_earnings_calculation.formula' | translate }} </code>
                        </div>
                    </div>
                </div>
                
                
                
            </div>
        </div>
    </div>
</div>