<div class="main-wrapper"></div>
<app-doctor-header></app-doctor-header>
<app-doctor-sidebar></app-doctor-sidebar>
<app-notifiacation-alert></app-notifiacation-alert>

<div class="page-wrapper">
    <!--  -->
    <div class="card">
        <div class="card-body">
            <h4 class="header-title mb-4"> {{'Doctor_blogs.title' | translate}}</h4>
            <ul class="nav nav-pills navtab-bg nav-justified">
                <li class="nav-item">
                    <a href="#All-Blogs" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                        {{'Doctor_blogs.all_verified' | translate}}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#My-Blogs" data-bs-toggle="tab" aria-expanded="true" class="nav-link active">
                        {{'Doctor_blogs.my_blogs' | translate}}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#Create-blogs" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                        {{'Doctor_blogs.add_new' | translate}}
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="All-Blogs">
                    <div class="row">
                        <div class="col-sm-6 col-md-4"
                            *ngFor="let item of allBlogs | paginate: { itemsPerPage: 6, currentPage: p }; let i = index">
                            <div class="blog grid-blog">
                                <div class="blog-image">
                                    <a [routerLink]="['/blog', item.id]">
                                        <img class="img-fluid custom-image-size" [src]="item?.image_urls[0]"
                                            alt="First image">
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-grp-blk">
                                        <div class="blog-img-blk">
                                            <a [routerLink]="['/doctor-profile', item.doctor.id]">
                                                <img class="img-fluid" [src]="item.doctor.user_image_url"
                                                    alt="Doctor's Image">
                                            </a>
                                            <div class="content-blk-blog ms-2">
                                                <h4>
                                                    <a [routerLink]="['/doctor-profile', item.doctor.id]">Dr.
                                                        {{item.doctor.firstname}} {{item.doctor.lastname}}</a>
                                                </h4>
                                                <h5>Dermatologue</h5>
                                            </div>
                                        </div>
                                        <span>
                                            <i class="feather-calendar me-1"></i>{{ item.created_at | date:'dd MMM yyyy'
                                            }}
                                            <a *ngIf="item.is_verified">
                                                <img class="img-fluid"
                                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1upSumdTFAax-_epYIu5Es1GAb6hDvWyhDw&s"
                                                    alt="Verified">
                                            </a>
                                            <a *ngIf="!item.is_verified">
                                                <img class="img-fluid"
                                                    src="https://banner2.cleanpng.com/20190303/aqu/kisspng-logo-brand-font-product-line-your-home-for-health-achhadoctor-in-1713903467251.webp"
                                                    alt="Not Verified">
                                            </a>
                                        </span>
                                    </div>
                                    <h3 class="blog-title">
                                        <a [routerLink]="['/blog', item.id]">{{item.title}}</a>
                                    </h3>
                                    <p>{{item.content}}</p>
                                    <a [routerLink]="['/blog', item.id]" class="read-more d-flex"> {{'Doctor_blogs.read_more' | translate}} <i
                                            class="fa fa-long-arrow-right ms-2"></i></a>
                                </div>
                            </div>

                        </div>
                        <div style="text-align:right;">
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </div>
                    </div>
                </div>

                <div class="tab-pane show active" id="My-Blogs">
                    <div class="tab-pane" id="All-Blogs">
                        <div class="row">
                            <div class="col-sm-6 col-md-4" *ngFor="let item of myBlogs">
                                <div class="blog grid-blog">
                                    <div class="blog-image">
                                        <a [routerLink]="['/blog', item.id]">
                                            <img class="img-fluid custom-image-size" [src]="item?.image_urls[0]"
                                                alt="First image">
                                        </a>
                                    </div>
                                    <div class="blog-content">
                                        <div class="blog-grp-blk">
                                            <div class="blog-img-blk">
                                                <a [routerLink]="['/doctor-profile', item.doctor.id]">
                                                    <img class="img-fluid" [src]="item.doctor.user_image_url"
                                                        alt="Doctor's Image">
                                                </a>
                                                <div class="content-blk-blog ms-2">
                                                    <h4>
                                                        <a [routerLink]="['/doctor-profile', item.doctor.id]">Dr.
                                                            {{item.doctor.firstname}} {{item.doctor.lastname}}</a>
                                                    </h4>
                                                    <h5>Dermatologue</h5>
                                                </div>
                                            </div>
                                            <span>
                                                <i class="feather-calendar me-1"></i>{{ item.created_at | date:'dd MMM
                                                yyyy' }}
                                                <a *ngIf="item.is_verified">
                                                    <img class="img-fluid"
                                                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1upSumdTFAax-_epYIu5Es1GAb6hDvWyhDw&s"
                                                        alt="Verified">
                                                </a>
                                                <a *ngIf="!item.is_verified">
                                                    <img class="img-fluid"
                                                        src="https://banner2.cleanpng.com/20190303/aqu/kisspng-logo-brand-font-product-line-your-home-for-health-achhadoctor-in-1713903467251.webp"
                                                        alt="Not Verified">
                                                </a>
                                            </span>
                                        </div>
                                        <h3 class="blog-title">
                                            <a [routerLink]="['/blog', item.id]">{{item.title}}</a>
                                        </h3>
                                        <p>{{item.content}}</p>
                                        <a [routerLink]="['/blog', item.id]" class="read-more d-flex"> {{'Doctor_blogs.read_more' | translate}} <i
                                                class="fa fa-long-arrow-right ms-2"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="Create-blogs">
                    <div class="content container-fluid">
                        <h2>{{'Doctor_blogs.create_new_blog.title' | translate}}</h2><br><br>
                        <form [formGroup]="blogForm" (ngSubmit)="onSubmit()" class="blog-form">
                            <div class="input-block local-forms">
                                <select formControlName="maladieId" class="form-control" required>
                                    <option hidden value="">{{'Doctor_blogs.create_new_blog.select_diseas' | translate}}</option>
                                    <option *ngFor="let item of allMaladies" [value]="item.id">{{ item.maladie_name }}
                                    </option>
                                </select>
                            </div>

                            <div class="input-block local-forms">
                                <input type="text" formControlName="title" class="form-control" placeholder="{{'Doctor_blogs.create_new_blog.blog_title' | translate}}"
                                    required>
                            </div>

                            <div class="input-block local-forms">
                                <textarea formControlName="content" class="form-control" rows="5"
                                    placeholder="{{'Doctor_blogs.create_new_blog.content' | translate}}" required></textarea>
                            </div>

                            <div class="input-block local-forms">
                                <input type="file" (change)="onFileChange($event)" multiple class="form-control-file">
                            </div>

                            <div class="input-block local-forms">
                                <button type="submit" class="btn btn-primary">{{'Doctor_blogs.create_new_blog.submit' | translate}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>